@inherits BlogPostPreviewBase

<div class="post-preview">
    <NavLink href="@($"viewpost/{BlogPost.Id}")">
        <h2 class="post-title">
            @BlogPost.Title
        </h2>
        <h3 class="post-subtitle">
            @((MarkupString)BlogPost.PostSummary)
        </h3>
    </NavLink>
    <p class="post-meta">Posted by 
    <NavLink href="/">@BlogPost.Author</NavLink>
    on @BlogPost.PostedDate</p>
</div>