@page "/viewpost/{postId:int}" 
@using MiniBlog.Client.Services
@inherits ViewPostBase

<BlogHeader Heading="@blogPost.Title" Author="@blogPost.Author" PostedDate="@blogPost.PostedDate"></BlogHeader>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @((MarkupString)blogPost.Post)
            </div>
        </div>
        @if (LoginService.IsLoggedIn)
        {
            <div class="row">
                <div class="col-md-12">
                    <NavLink class="btn btn-primary float-right" href="@($"/editpost/{blogPost.Id}")">Edit</NavLink>
                </div>
            </div>
        }
    </div>
</article>
